div#content{
  padding: 20px;
  margin: 10px;
  background-color: LightCyan;
  border: ridge 10px white;

}

body {
  background-color: lightblue;
  outline-offset: 15px;
  font-family: verdana;
  font-size: 20px;
  word-spacing:7px;
  margin:30px;
}

.image img{
  float: right;
  margin: 20px;
  width: 250px;
  border: ridge 10px white;
  /* position:relative;
  display:inline-block; */
  box-shadow: 5px 5px 15px black;
}

p {
  margin: 10px;
  font-family:  'Bellota';
  font-size: 22px;
}

.assignments-major-section {
  font-family: 'IBM Plex Mono';
  font-size: 20px;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  word-spacing:-3px;
  position: absolute;
  display: block
  top:0px;
  left: 30px;
  right: 30px;
  border: 10px ridge Azure;
  background-color: LightCyan;
}

a, a:link{
  color: Black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: SteelBlue;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}

/* .img2{
  overflow: hidden;
  width: 400px;
  height: 300px;
  float:right;
}
div.img2 img{
  width: 100%;
  height: auto;
} */

.main-title{
  font-family: 'IBM Plex Mono';
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color:DimGrey;
  text-transform: uppercase;
  word-spacing:10px;
    text-shadow: 2px 2px 3px #878583;
}

.title{
  font-family: 'Gruppo';
  font-size: 50px;
  text-align: center;
  word-spacing:15px;
  text-transform: capitalize;
    text-shadow: 2px 2px 3px #878583;
}

.labs{
  font-family: 'Gruppo';
  font-size: 40px;
  /* text-align: left; */
  word-spacing:15px;
  text-transform: capitalize;
    text-shadow: 2px 2px 3px #878583;
}
