div#content{
  padding: 20px;
  margin: 10px;
  background-color: LightCyan;
  border: ridge 10px white;
}

body {
  background-color: lightblue;
  outline-offset: 15px;
  font-family: verdana;
  font-size: 20px;
  word-spacing:7px;
  /* margin:30px; */
}

.image img{
  float: right;
  margin: 20px;
  width: 300px;
  border: ridge 10px white;
  position: relative;
  /* scroll-margin-top: 5rem; */
}

p {
  margin: 10px;
  font-family:  'Bellota';
  font-size: 22px;
  /* border: 3px ridge white; */
  /* background-color: lightblue; */
}

.assignments-major-section {
  /* margin-left: 30px; */
  font-family: 'IBM Plex Mono';
  font-size: 20px;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  word-spacing:-3px;
  position: absolute;
  padding: 8px;
  top:700px;
  left: 10px;
  right: 10px;
  border: 10px ridge Azure;
  background-color: LightCyan;
}

a {
  /* padding: 1px; */
  /* background-color: MintCream; */
}

.main-title{
  font-family: 'IBM Plex Mono';
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color:DimGrey;
  text-transform: uppercase;
  word-spacing:10px;
}

.title{
  font-family: 'Gruppo';
  font-size: 50px;
  text-align: center;
  word-spacing:15px;
  text-transform: capitalize;
}
