body {
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: LightSeaGreen;
    padding: 20px;
    font-size: 120%;
}

h1 {
  text-align: center;
}

div#content {
    padding: 50px;
    background-color: White;
    border: solid 1px #333333;
}

.image{
  float: right;
  margin: 20px;
  width: 400px;
  padding: 20px;
  border-style: solid;
  border-color: LightSeaGreen
   /* outline-width: 5px; */

}

.title{
    font-family: 'Oswald';
    font-size: 22px;
    margin-left: 20px;
    text-decoration: underline;
}
